.fillLine-Table{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    margin-bottom: 50px;
}

.fillLine-Table > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tableView-container{
    max-Height: 250px; 
    width: 90%;
    overflow-Y: scroll;
}

.table{
    text-align: center;
}

td{
    font-weight: 600;
}

/* tr:hover {background-color: #a5a5a5;} */

.table-head{
    position: sticky;
    top: 0;
    background-color: #273043;
    color: #fff;
    text-transform: uppercase;
}